*{
    padding: 0;
    margin: 0;
}


.customer-review{
    color: rgb(14, 14, 193);
    margin-top: 30px;
    text-align: center;
}
.customer-review h2{
    margin-bottom: 30px;
}
.c-r-1{
    display: flex;
    margin: auto;
    box-shadow: 0 0 8px 5px rgb(236, 236, 236);
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    border-radius: 10px;
    height: 300px;
    width: 900px;
    padding:15px;
}

.c-r{
    background-color: rgb(140, 232, 140);
    height: 100px;
    width: 400px;
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 18px;
    color: black;
    border: 1px solid green;
    padding: 10px;
    padding-top: 20px;
}
.c-r-2{
    text-align: left;
}
.c-r-2 p{
    color: grey;
    font-size: 20px;
    padding: 10px;
    
}

/* .p1{
    padding-top: 50px;
} */

.p2{
    padding-top: 70px;
}

.spa{
    color: grey;
    font-size:50px ;
    
}

.spa1{
    color: forestgreen;
    font-size: 50px;
    padding-left: 20px;
   
}

.img-c{
    margin-left: 15px;
    margin-right: 15px;
    color:gray;
    
}

.img-c img{
    
    height: 60px;
    width: 60px;
}
.heading{
    text-align: center;
    margin: 30px;
    color:rgb(14, 14, 193);
}

.in-container{
    margin: auto;
    padding: 20px;
    margin-top: 30px;
    text-align: center;
    width: 400px;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 6px 7px rgb(236, 236, 236);
    border-radius: 10px;
    margin-bottom: 50px;
   
}


.in-container button{
    padding:  10px 15px;
    border-radius: 10px;
    color: black;
    background-color: orange;
    border: none;
}
.in-container input{
    border-radius: 5px;
    margin: 10px;
    background-color: white;
    text-align: left;
    border: 1px solid blue;
}

.review-output{
    background-color: white;
    box-shadow: 0 0 8px 5px rgb(236, 236, 236);
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin: 20px;
}

.review-output button{
    width: 70px;
    border-radius: 10px;
    color: black;
    background-color: orange;
    border: none;
    padding: 5px;
}

.review{
    display: inline-block;
}

.review-container{
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.app-body h2{
    text-align: center;
    color: rgb(14, 14, 193);
    margin-bottom: 30px;
}
.add-contacts-container{
    width: 500px;
    background-color: white;
    box-shadow: 0 0 8px 5px rgb(236, 236, 236);
    border-radius: 10px;
    margin: auto;
    padding: 25px;
    margin-bottom: 50px;
    
    
}

.add-contacts-container input{
    display: block;
    width: 400px;
    border: 1px solid blue;
    padding: 5px;
    margin: 20px;
}

.add-contacts-container button{
    border: none;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 180px;
}