.navbar{
    background-color:black ;
    padding:5px;
}

.nav-brand{
    display: inline-block;
    color:aliceblue;
    margin-right:670px;
}

.nav-menu{
    display:inline-block;
    color:white;
    margin-right: 100px;
    margin:0px 10px;
}
