
.common-section {
  margin: 5rem 0;
}

.our-services img {
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 0.8rem;
  border-radius: 1.5rem;
  margin-left: 30px;
  width: 100%;
}

.our-services .mini-title {
  text-transform: uppercase;
  font-weight: bold;
  margin: 3rem 0;
  text-align: center;
  font-size: 48px;
  margin-left: 30px;
}

.our-services .main-heading {
  font-weight: bolder;
  margin-left: 30px;
  color: #cc9900;
  font-size: 50px;
  margin-top: 60px;
}

.our-services-info {
  margin-top: 40px;
  font-size: 25px;
}

.our-services .our-services-number {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid var(--primary-color);
  font-size: 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

.our-services-data {
  padding-left: 2rem;
}

.our-services .our-services-data p {
  margin: 1rem 0;
}

/* 2nd section of about us  */
.our-services-rightside {
  margin-top: 10rem;
  width: 100%;
}

.our-services-rightside-content {
  padding-left: 8rem;
}
/* button1{
  margin-left: 30px;
  height: 50px;
  width: 250px;
  border-radius: 40px;
  cursor: pointer;
  background-color:  #cc9900;
  color: white;
  font-size: 20px;
  transition: 0.5s;
  border: none;
  margin-left: 42%;
}
button1:hover{
  height: 55px;
  width: 260px;
  transition: 0.5s;
} */