.common-section {
    margin: 5rem 0;
  }
  
  .our-services img {
    width: 40%;
    height: 75%;
    margin-top: 10rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.8rem 0.8rem;
    border-radius: 1.5rem;
  }
  
  .our-services .mini-title {
    text-transform: uppercase;
    font-weight: normal;
    margin: 3rem 0;
    text-align: left;
    font-size: 1.5rem;
  }
  
  .our-services .main-heading {
    font-weight: bolder;
  }
  
  .our-services-info {
    margin-top: 4rem;
  }
  
  .our-services .our-services-number {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: transparent;
    border: 0.1rem solid var(--primary-color);
    font-size: 1.5rem;
    color: var(--primary-color);
    display: grid;
    place-items: center;
  }
  
  .our-services-data {
    padding-left: 2rem;
  }
  
  .our-services .our-services-data p {
    margin: 1rem 0;
  }
  
  /* 2nd section of about us  */
  
  .our-services-rightside {
    margin-top: 10rem;
  }
  
  .our-services-rightside-content {
    padding-left: 8rem;
  }