.text-line{
  text-align: center;
  font-size: 37px;
  margin-top: 10px;  
    color:white;
  }

.section_padding{
  padding: 40px 40px;
}

.footer{
  background-color:#1b1b1b;
}

.footer{
  display: flex;
  flex-direction: column;
}

.footer-links{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2opx;
}  

.footer-links_div{
  display: inline-block;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
 
  padding: 20px;
}

.text-tittle{
  font-size: 40px;
}

   .text-bar{
    color:#878887; 
    font-size:55px; 
   } 

  a{
    color:aqua;
     text-decoration: none; 
   }
  a:hover{
     color:#ffc000;
  }

  .socialmedia{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
   }

  .socialmedia img {
     width:40px;
     height: 40px;
     border-radius: 4px;
     justify-content: space-evenly;
     cursor:pointer;
   }

   .socialmedia img:hover{
    width:45px;
    height: 45px;
    box-shadow: 2px pink;
   }

   /* .footer-links_div h4{
     font-size: 21px;
     line-height: 17px;
     margin-bottom: 30px;
     margin-top: 30px;
   } */

   .footer-links_div p{
     font-size: 12px;
     line-height: 15px;
     margin: 0.5rem 0;
     cursor: pointer;
   }

   /* .footer-below{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-top: 0.2rem;
   } */

    .footer-below-links{
       display: flex;
       flex-direction: row;
   }


   /* .footer-below-links p{
      font-size: 13px;
      line-height: 15px;
      margin-left: 2rem;
      color: white;
      font-weight: 600;
   } */

   hr{
    color:white;
     width:100%;
   }

    .footer-copyright p{
     font-size: 22px;
     line-height: 15px;
     color:white;
     /* font-weight: 600; */
   }

@media screen and (max-width:850px) {
  .footer-heading h1{
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px){
  .footer-heading h1{
    font-size: 34px;
    line-height: 42px;
  }


/* .footer-links div{
  margin: 1rem 0;
} */

/* .footer-btn p{
  font-size: 14px;
  line-height: 20px;
} */

.footer-below{
  flex-direction: column;
  justify-content: left;
}

.footer-below-links{
  flex-direction: column;
}

/* .footer-below-links p{
  margin-left:0rem;
  margin-top: 1rem;
} */
}

@media screen and (max-width:400px) {
  .footer-heading h1{
    font-size: 27px;
    line-height: 38px;
  }
}

.footerbelow{
  padding-left:470px ;
}
.text-name{
  text-align: center;
}


