.text-line{
    text-align: center;
    font-size: 37px;
    margin-top: 10px;  
    color:white;
  }

.section_padding{
  padding: 40px 40px;
}

.footer{
  background-color:#1b1b1b;
}

.footer{
  display: flex;
  flex-direction: column;
}

.footer-links{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2opx;
}  

.footer-links_div{
  display: inline-block;
  margin: 5px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
 
  padding: 20px;
}

.text-tittle{
  font-size: 40px;
}

   .text-bar{
    color:#878887; 
    font-size:55px; 
   } 

  a{
    color:#a8adad;
     text-decoration: none; 
   }
  a:hover{
     color:#ffc000;
  }

  .socialmedia{
    display: flex;
    justify-content: space-evenly;
   }

  .socialmedia img {
     width:40px;
     height: 40px;
     border-radius: 4px;
     justify-content: space-evenly;
     cursor:pointer;
   }

   .socialmedia img:hover{
    width:45px;
    height: 45px;
    box-shadow: 2px pink;
   }

   .footer-links_div p{
     font-size: 12px;
     line-height: 15px;
     margin: 0.5rem 0;
     cursor: pointer;
   }

    .footer-below-links{
       display: flex;
       flex-direction: row;
   }

   hr{
    color:white;
     width:100%;
   }

    .footer-copyright p{
     font-size: 22px;
     line-height: 15px;
     color:white;
   }

@media screen and (max-width:850px) {
  .footer-heading h1{
    font-size: 44px;
    line-height: 50px;
  }
}

@media screen and (max-width: 550px){
  .footer-heading h1{
    font-size: 34px;
    line-height: 42px;
  }

.footer-below{
  flex-direction: column;
  justify-content: left;
}

.footer-below-links{
  flex-direction: column;
}

}

@media screen and (max-width:400px) {
  .footer-heading h1{
    font-size: 27px;
    line-height: 38px;
  }
}

.footerbelow{
  padding-left:470px ;
}
.text-name{
  text-align: center;
}


