.contact-card{
    /* #ffccdd */
    background-color: white;
    width: 450px;
    padding: 5px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 8px 5px rgb(236, 236, 236);
    position: relative;
}
.contact-card p{
    padding: 2px;
}

/* .card{
    display: flex;
} */

.icon-delete-contact{
    position: absolute;
    bottom: 5px ;
    right: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px grey;
    padding: 3px;
    border-radius: 50%;
}

.icon-edit-contact{
    position: absolute;
    bottom: 5px ;
    right: 50px;
    cursor: pointer;
    box-shadow: 0 0 2px grey;
    padding: 3px;
    border-radius: 50%;
}