body{
    background-color: #fff;
}

.text-h{
    text-align: center;
    /* background-color:white; */
    color:#ffc000;
    font-size: 50px;
     padding: 7px 7px;  
}

/* body{
    background-color:#fff;
} */

/* .text-box{
    height:400px;
    width:1000px;
    background-color: aqua;
    border-radius: 30px; */
    
/* } */

.about-card{
    width: 300px;;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius:  5px;
    padding: 10px;
    box-shadow: 0 0 10px #ccc;
    transition: all 0.3s ease-in-out;
}
.text-desc{
    color: rgb(147, 47, 241);
}


.merge{margin:10px;}

